.map-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.map-modal {
  background: white;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  border-radius: 14px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

.map-container {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
